* {
  box-sizing: border-box;
}

// body {
//   border: 1px solid $BORDER_COLOR;
// }

.title {
  text-align: center;
  font-size: 5rem;
}

.interface {
  padding: 15px;
  margin: 0 auto;
  width: 500px;
  border: 1px solid darkgrey;
  border-radius: 3px;

  .input-button {
    display: flex;
    // border: 1px solid red;
  }

  &__input {
    flex: 1;
    padding-left: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid darkgrey;
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
    outline: none;
    font-size: 1em;
  }

  &__button {
    width: 98px;
    height: 40px;
    border: 1px solid darkgrey;
    border-radius: 0 3px 3px 0;
    outline: none;
    font-size: 1.1em;
  }

  .token {
    position: relative;
    display: flex;
    margin-top: 15px;

    &__value {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 40px;
      border: 1px solid darkgrey;
      border-radius: 3px 0 0 3px;
      border-width: 1px 0 1px 1px;
    }

    &__copy {
      width: 40px;
      height: 40px;
      border: 1px solid darkgrey;
      border-radius: 0 3px 3px 0;
      outline: none;
      font-size: 1.1em;
    }
  }

  .loader{
    position: relative;
    margin-top: 15px;
    height: 40px;
  }
}

.spinner {
  position:absolute;
  left:50%;
  top:50%;
  margin:-16px 0px 0px -16px;
  width:32px;
  height:32px;
  border-radius:32px;
  box-sizing:border-box;
  border:1px solid black;
  border-top-color:rgba(0,0,0,.7);
  border-left-color:rgba(0,0,0,0.5);
  border-bottom-color:rgba(0,0,0,0.3);
  border-right-color:rgba(0,0,0,0.1);
  animation: rotate 500ms infinite linear;
  transform:translateZ(0px);
}

@keyframes rotate {  
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);} 
}